@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --width: 300px;
   --height: 300px;
}
 

body {
  margin: 0;
  font-family: "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* loader indicator */
.loader-indicator {
   width: 112px;
   height: 112px;
   display: grid;
   background: #fff;
   filter: blur(4.5px) contrast(10);
   padding: 11.2px;
   mix-blend-mode: darken;
}

.loader-indicator:before,
.loader-indicator:after {
   content: "";
   grid-area: 1/1;
   background: linear-gradient(#000000 0 0) left,
          linear-gradient(#000000 0 0) right;
   background-size: 22.4px 44.8px;
   background-origin: content-box;
   background-repeat: no-repeat;
}

.loader-indicator:after {
   height: 22.4px;
   width: 22.4px;
   margin: auto 0;
   border-radius: 50%;
   background: #000000;
   animation: loader-indicator-animation 1s infinite;
}

@keyframes loader-indicator-animation {
   90%, 100% {
      transform: translate(300%);
   }
}