.layout-grid-auto {
    @apply grid gap-4 justify-center w-full;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.wave-hand {
animation-name: hand-wave-animation;  
animation-duration: 2.5s;        
animation-iteration-count: infinite;  
transform-origin: 70% 70%;      
display: inline-block;
}
  
@keyframes hand-wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }  
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) } 
    100% { transform: rotate( 0.0deg) }
}

@media only screen and (min-width: 960px) {
    .layout-grid-auto {
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }
}
  